.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}

.overlay {
  fill: none;
  pointer-events: all;
}

svg {
  width: 100%;
}

.row{
  display: flex;
}

.details-info {
  flex: 1
}

.details-graph {
  flex: 2
}
.details-container {
  display: flex;
}
